.bg-info{
    background-color: red;
}
.catagory img{
    width: 100px;
}
.panda-btn{
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    background-color: #ff136f;
}